html {
  scroll-behavior: smooth;
}

.nav-bar {
  position: -webkit-sticky;
	position: fixed;
	top: 0;
  z-index: 3;
  background-color: white;
  font-family: 'EB Garamond', 'serif';
}

.links {
  display: flex;
  flex-direction: row;
}

.ed {
  border-right: 1px solid black;
}

.ed, .info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 0 solid black;
  width: 50vw;
 justify-content: center;
 display: flex;
 padding: 0.6rem;
 text-decoration: none;
 color: black;
 font-size: 1.1em;
}

.ed:hover, .info:hover {
  color: blue;
}

.loop-holder {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.loop-holder__text {
    animation: textLoop 20s linear infinite;
    font-size: 0.9em;
    padding-right: 0.15em;
}

@keyframes textLoop {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}

.carrousel {
  height: 100vh;
  background-color: rgba(17, 0, 255, 0.171);
  border-bottom: 1px solid black;
  z-index: 5;
}


.down {
  width: 100%;
  height: 36px;
}

.box-two {
  text-align: center;
  position: relative;
  top: -77px;
} 

.mail:link {
  border-bottom: 5px dashed;
  text-decoration: none;
}

.mail:hover {
  border-bottom: 5px dashed;
  text-decoration: none;
  color:blue;
}

.back {
  position: absolute;
  left: 48%;
  top: 322%;
}


.helloTop {
  -webkit-tap-highlight-color:transparent;
 }

 .stretch {
   width: 5.9px;
   height: 3px;
   overflow: visible;
 }

line {
  stroke-width: 5.9px;
  stroke: black;
	fill: none;
}


.stretch > line.oneOpen {
  stroke: black;
}