.nav-bar {
  position: -webkit-sticky;
	position: fixed;
	top: 0;
  z-index: 3;
  background-color: white;
  font-family: 'EB Garamond', 'serif';
}

.links {
  display: flex;
  flex-direction: row;
}

.ed {
  border-right: 1px solid black;
}

.ed, .info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 0 solid black;
  width: 50vw;
 justify-content: center;
 display: flex;
 padding: 0.6rem;
 text-decoration: none;
 color: black;
 font-size: 1.1em;
}

.ed:hover, .info:hover {
  color: blue;
}

.loop-holder {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.loop-holder__text {
    animation: textLoop 20s linear infinite;
    font-size: 0.9em;
    padding-right: 0.15em;
}

@keyframes textLoop {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
}

.carrousel {
  height: 100vh;
  background-color: rgba(17, 0, 255, 0.171);
  border-bottom: 1px solid black;
  z-index: 5;
}


.down {
  width: 100%;
  height: 130px;
}

.mail:hover {
  text-decoration: none;
  color:blue;
}

.back {
  position: absolute;
  left: 48%;
  top: 449%;
}

.mail {
  text-decoration: none;
}

.be {
  font-size: 5.5rem;
  line-height: 1.2;
  font-family: 'vrf';
  font-weight: 60;
  text-align: center;
}

.home-line {
  color: black;
  // position: fixed;
  top: var(--pos);
  transform: translateY(-100%);
  width: 100%;
  // --pos: 0;
}

.static-line {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" 760;
}

.line-one {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--ytra);
}

.line-two {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--ytra);
}

.line-three {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--ytra);
}

.line-four {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--ytra);
}

.line-five {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--ytra);
}

.line-six {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--ytra);
}

.line-seven {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--ytra);
}

.line-eight {
  font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--ytra);
}
