<div class="nav-bar">
  <div class="links">
    <%= link_to "ÉDOUARD NARDON", root_path(anchor:"up"), class:"ed" %>
    <%= link_to "INFORMATION", root_path(anchor: "description"), class:"info" %>
  </div>
  <div class="loop-holder">
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
  </div>
</div>
<div class="carrousel">
</div>
<div class="down" id="description">
</div>
<p class="home-line line-1 be"> HELLO, MY NAME IS </p><br>
<p class="home-line line-2 be"> ÉDOUARD NARDON. </p><br>
<p class="home-line line-3 be"> I AM A CREATIVE DIRECTOR </p><br>
<p class="home-line line-4 be"> BASED IN NEW YORK CITY. </p><br>
<p class="home-line line-5 be"> I SPECIALIZE IN ART, </p><br>
<p class="home-line line-6 be"> FASHION AND BEAUTY </p><br>
<p class="home-line line-7 be"> PROJECTS. </p><br>
<p class="home-line line-8 be"> FOR ANY ENQUIRIES, </p><br>
<p class="home-line line-9 be"> PLEASE SEND ME AN EMAIL </p><br>
<a href="#"><p class="home-line line-10 be">HERE</p></a>
<div class="back">
  <%= link_to root_path(anchor:"up") do %>
    <%= image_tag("arrow.png", width: 90, height: 90) %>
  <% end %>
</div>
