<div class="nav-bar">
  <div class="links">
    <%= link_to "ÉDOUARD NARDON", root_path(anchor:"up"), class:"ed" %>
    <%= link_to "INFORMATION", root_path(anchor: "description"), class:"info" %>
  </div>
  <div class="loop-holder">
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
  </div>
</div>
<div class="carrousel">
</div>
<div class="down" id="description"> </div>
<div class="txt">
  <p class="txt">HELLO, MY NAME IS</p> 
  <p class="txt"> ÉDOUARD NARDON.</p> 
  <p class="txt">I AM A CREATIVE DIRECTOR </p>
  <p class="txt"> BASED IN NEW YORK CITY.</p> 
  <p class="txt"> I SPECIALIZE IN ART,</p>
  <p class="txt"> FASHION AND BEAUTY </p>
  <p class="txt"> PROJECTS. </p> 
  <p class="txt"> FOR ANY ENQUIRIES,</p>
  <p class="txt"> PLEASE SEND ME AN EMAIL </p>
  <a href = "mailto:edouardnardon@gmail.com" class="mail">HERE</a>
</div>
<div class="back">
  <%= link_to root_path(anchor:"up") do %>
    <%= image_tag("arrow.png", width: 90, height: 90) %>
  <% end %>
</div>
